<h1>Sign Up Below:</h1>


<form action='/registrations' method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name"><br>
  <label for="email">Email:</label>
  <input type="text" name="email" id="email"><br>
  <label for="password">Password:</label>
  <input type="text" name="password" id="password"><br>
<<<<<<< HEAD
  <input id="submit" type="submit" value="Sign Up">
=======
  <input id="submit" type="submit" value="Accio!">
>>>>>>> ac4e1de9b7655e5fbee2ee24065bd99ba2cd31f6
</form>